<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <script src="{{ url_for('static', filename='app.js') }}" defer></script>
    <title>TTT.</title>
</head>
<body style="background-color: #232323;">
    <div class="Home_body">
        <div class="menu-bar">          
        <ul id="menu-bar-ul">
            <li><a href="{{url_for('home')}}"><img src="https://pys9-flask-logo.s3.amazonaws.com/logo.png" width="117px" height="42px"></a></li>
            <li><a id= "rec" href="{{url_for('rec')}}">추천받기</a></li>
            <li><a href="{{url_for('bookmark')}}">북마크</a></li>
            <li><form action= "{{url_for('search',variable=name)}}" method="get"><li class="search"><input name = keyword placeholder="제목으로 검색" type="search">
            </form></li>
            <li id="login"><a href="{{url_for('login')}}">로그인</a></li>
            <li id="register"><a href="{{url_for('register')}}">회원가입</a></li>
        </div>
        <div class="navi-bar">
            <ul>
            <li id="nfx_tap"><img src=https://pys9-flask-logo.s3.amazonaws.com/Nfx.png width="51px" height="51px" ></li>
            <li ><img id="prime_tap" src=https://pys9-flask-logo.s3.amazonaws.com/prime.png width="51px" height="51px"></li>
            <li ><img id="watcha_tap" src=https://pys9-flask-logo.s3.amazonaws.com/watcha.png width="51px" height="51px"></li>
            <li ><img id="wavve_tap" src=https://pys9-flask-logo.s3.amazonaws.com/wavve.png width="51px" height="51px"></li>
            <li><img id="dnp_tap" src=https://pys9-flask-logo.s3.amazonaws.com/dnp.png width="51px" height="51px"></li>
            </ul>
        </div>
        <div class="row_title">
            <ul>
            <li class="title">추천</li> 
            </ul>
        </div>
        <div class="row_poster">


                <ul>
                
            <li> <svg class="favorite" id="svg_1_0" data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_1_0" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id= poster_1_0_a href="a"><img id=poster_1_0 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
            <li><svg class="favorite" id="svg_1_1"  data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_1_1" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id= poster_1_1_a href="a"><img id=poster_1_1 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
            <li><svg class="favorite" id="svg_1_2" data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_1_2" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id= poster_1_2_a href="a"><img id=poster_1_2 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
            <li><svg class="favorite" id="svg_1_3" data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_1_3" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id= poster_1_3_a href="a"><img id=poster_1_3 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
            <li><svg class="favorite" id="svg_1_4" data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_1_4" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id= poster_1_4_a href="a"><img id=poster_1_4 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
            <li><svg class="favorite" id="svg_1_5" data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_1_5" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id= poster_1_5_a href="a"><img id=poster_1_5 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>  
            <li><svg class="favorite" id="svg_1_6" data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_1_6" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id= poster_1_6_a href="a"><img id=poster_1_6 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>  
        </ul>

        </div>
        <div class="row_title">
            <ul>
            <li class="title">액션</li>
            </ul>
        </div>
        <div class="row_poster">
            <ul>
            <li><svg class="favorite" id="svg_2_0" data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_2_0" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id= poster_2_0_a href="contents/m_id"><img id=poster_2_0 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></a></li>    
            <li><svg class="favorite"id="svg_2_1" data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_2_1" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id= poster_2_1_a href="a"><img id=poster_2_1 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
            <li><svg class="favorite" id="svg_2_2"data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_2_2" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id= poster_2_2_a href="a"><img id=poster_2_2 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
            <li><svg class="favorite" id="svg_2_3" data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_2_3" id="svg_2_0" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id= poster_2_3_a href="a"><img id=poster_2_3 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
            <li><svg class="favorite" id="svg_2_4" data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_2_4" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id= poster_2_4_a href="a"><img id=poster_2_4 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
            <li><svg class="favorite"  id="svg_2_5" data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_2_5" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id= poster_2_5_a href="a"><img id=poster_2_5 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>
            <li><svg class="favorite" id="svg_2_6" data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_2_6" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id= poster_2_6_a href="a"><img id=poster_2_6 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
        </ul>
        </div>

        <div class="row_title">
            <ul>
            <li class="title">SF</li>
            </ul>
        </div>
        <div class="row_poster">
            <ul>
            <li><svg class="favorite" id="svg_3_0" data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_3_0" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id=poster_3_0_a href="a"><img id=poster_3_0 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
            <li><svg class="favorite" id="svg_3_1"  data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_3_1" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id=poster_3_1_a href="a"><img id=poster_3_1 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
            <li><svg class="favorite"  id="svg_3_2" data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_3_2" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id=poster_3_2_a href="a"><img id=poster_3_2 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
            <li><svg class="favorite"  id="svg_3_3" data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_3_3" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id=poster_3_3_a href="a"><img id=poster_3_3 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
            <li><svg class="favorite"  id="svg_3_4" data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_3_4" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id=poster_3_4_a href="a"><img id=poster_3_4 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
            <li><svg class="favorite" id="svg_3_5"  data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_3_5" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id=poster_3_5_a href="a"><img id=poster_3_5 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>
            <li><svg class="favorite" id="svg_3_6"  data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_3_6" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id=poster_3_6_a href="a"><img id=poster_3_6 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
        </ul>
        </div>

        <div class="row_title">
            <ul>
            <li class="title">판타지</li>
            </ul>
        </div>
        <div class="row_poster">
            <ul>
            <li><svg class="favorite" id="svg_4_0" data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_4_0" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id=poster_4_0_a href="a"><img id=poster_4_0 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
            <li><svg class="favorite"  id="svg_4_1" data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_4_1" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id=poster_4_1_a href="a"><img id=poster_4_1 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
            <li><svg class="favorite"  id="svg_4_2" data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_4_2" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id=poster_4_2_a href="a"><img id=poster_4_2 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
            <li><svg class="favorite" id="svg_4_3"  data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_4_3" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id=poster_4_3_a href="a"><img id=poster_4_3 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
            <li><svg class="favorite"  id="svg_4_4" data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_4_4" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id=poster_4_4_a href="a"><img id=poster_4_4 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
            <li><svg class="favorite" id="svg_4_5"  data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_4_5" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id=poster_4_5_a href="a"><img id=poster_4_5 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
            <li><svg class="favorite" id="svg_4_6"  data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_4_6" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id=poster_4_6_a href="a"><img id=poster_4_6 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
        </ul>
        </div>
        <div class="row_title">
            <ul>
            <li class="title">감동</li>
            </ul>
        </div>
        <div class="row_poster">
            <ul>
            <li><svg class="favorite" id="svg_5_0"  data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_5_0" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id=poster_5_0_a href="a"><img id=poster_5_0 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
            <li><svg class="favorite" id="svg_5_1"   data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_5_1" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id=poster_5_1_a href="a"><img id=poster_5_1 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
            <li><svg class="favorite" id="svg_5_2"   data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_5_2" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id=poster_5_2_a href="a"><img id=poster_5_2 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
            <li><svg class="favorite"  id="svg_5_3" data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_5_3" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id=poster_5_3_a href="a"><img id=poster_5_3 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
            <li><svg class="favorite" id="svg_5_4" data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_5_4" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id=poster_5_4_a href="a"><img id=poster_5_4 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
            <li><svg class="favorite" id="svg_5_5" data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_5_5" data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id=poster_5_5_a href="a"><img id=poster_5_5 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>
            <li><svg class="favorite"  id="svg_5_6" data-name="구성 요소 4 – 122 0 24 33">
                <path id="path_5_6"  data-name="패스 8" d="M0,0H24V33L12.077,24.315,0,33Z" fill="#545454" opacity="0.63" xmlns="http://www.w3.org/2000/svg" width="24px" height="33px" viewBox="0">
                </svg> <a id=poster_5_6_a href="a"><img id=poster_5_6 src=https://images.justwatch.com/poster/249771403/s592 width="241px" height="348px"></li></a>    
        </ul>
        </div>
    </div>
    
  
 
</body>
</html>
